<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>frontend</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

  </head>
<h1>{{title}}</h1>

<div class="container">
  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">Todo App</h1>
      <div class="input-group-prepend"> <input type="text" class="form-control" placeholder="Add Todo" name="todo">
        <span class="input-group-text">Add</span> </div>
    </div>
  </form>
</div>
</html>
